/* Why did i not use tailwind :( */

#main {
  display: flex;
  flex-direction: row;
}

#statpage {
  color: white;
  width: 20rem;
  height: 24.8rem;
  border: white solid 4px;
  border-radius: 0.5rem;
  margin-right: 2vw;
}

#summoner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sumName {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#pfp {
  z-index: 0;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: white solid 4px;
  border-radius: 25%;
}
#pfp img {
  width: 150px;
  height: 150px;
}

#oval {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  width: 60px;
  height: 30px;
  border-radius: 40%;
  margin-bottom: 10px;
}

#lvl {
  color: black;
  font-weight: 700;
}

#solo,
#flex {
  position: relative;
  width: 20rem;
  height: 5rem;
  border-top: white solid 2px;
}

#solo-img,
#flex-img {
  margin: 0;
  position: absolute;
  top: 38%;
  transform: translate(0%, -50%);
  left: 0;
  width: 55px;
}

#solo-queue,
#flex-queue {
  background-color: white;
  color: black;
  position: absolute;
  height: 20px;
  width: 100px;
  /* top: -20px; */
  bottom: 0;
  border-top-right-radius: 10px;
}

#solo-rank,
#flex-rank {
  position: absolute;
  top: 5px;
  left: 70px;
  font-size: 1.25rem;
}

#solo-lp,
#flex-lp {
  position: absolute;
  top: 35px;
  left: 70px;
}

#solo-win-loss,
#flex-win-loss {
  position: absolute;
  top: 15px;
  right: 20px;
}

#solo-wr,
#flex-wr {
  position: absolute;
  top: 35px;
  right: 20px;
}

#solo-none,
#flex-none {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

#matches {
  display: flex;
  flex-direction: column;
  width: 36rem;
  height: 34rem;
  border: white solid 4px;
  border-radius: 0.5rem;
  z-index: 1;
  /* overflow: scroll; */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36rem;
  height: 34rem;
}

.match {
  z-index: 1;
  overflow: hidden;
  position: relative;
  width: 36rem;
  height: 7rem;
  background-color: #87cefa;
  box-shadow: inset 0 0 0 4px black;
  box-sizing: border-box;
  margin-bottom: -4px;
}

.match .big-right-angle {
  z-index: 1;
  position: absolute;
  left: 7rem;
  height: 7rem;
  border-left: 4px solid black;
  width: 0px;
  background-color: black;
  transform: skewX(-45deg);
}

.match .small-left-angle {
  z-index: 1;
  position: absolute;
  left: 6rem;
  height: 3rem;
  border-left: 4px solid black;
  width: 0px;
  background-color: black;
  transform: skewX(45deg);
}

.match .small-right-angle {
  position: absolute;
  left: 10rem;
  bottom: 0;
  height: 2rem;
  border-left: 4px solid black;
  width: 0px;
  background-color: black;
  transform: skewX(-45deg);
}

.match .line {
  z-index: 1;
  position: absolute;
  bottom: 2rem;
  right: 0;
  border-top: 4px solid black;
  height: 0px;
  width: 30.2rem;
}

.matchRes {
  position: absolute;
  left: -4rem;
  top: 4px;
  z-index: 0;
  height: 7rem;
  width: 11rem;
  background-color: #269ce6;
  transform: skewX(-45deg);
}

.vertical-line {
  z-index: 1;
  position: absolute;
  left: 0px;
  border-left: 4px solid black;
  width: 0px;
  height: 7rem;
}

.bottom-line {
  z-index: 1;
  position: absolute;
  border-top: 4px solid black;
  width: 36rem;
  height: 0;
  bottom: 0;
}

.lvlBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  border: solid black 2px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25rem;
  bottom: 0.6rem;
  left: 0.5rem;
}

.level {
  font-weight: 500;
  font-size: 1rem;
}

.champIcon {
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border: solid black 2px;
  background-color: gray;
  border-radius: 25rem;
  position: absolute;
  bottom: 0.6rem;
  left: 0.5rem;
}

.champIcon img {
  width: 4rem;
  height: 4rem;
}

.score {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-weight: 500;
}

.kda {
  font-weight: 500;
  position: absolute;
  transform: rotate(-45deg);
  top: 2rem;
  left: 4.7rem;
}

.role {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  bottom: 0.1rem;
  left: 6rem;
}

.gametime {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: 0.3rem;
  left: 11rem;
}

.items {
  border-radius: 25%;
  height: 1.7rem;
  width: 1.7rem;
  border: black solid 4px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.item6 {
  right: 0;
}

.item5 {
  right: 2.4rem;
}

.item4 {
  right: 4.4rem;
}

.item3 {
  right: 6.4rem;
}

.item2 {
  right: 8.4rem;
}

.item1 {
  right: 10.4rem;
}

.item0 {
  right: 12.4rem;
}

.summoner2 {
  right: 16.2rem;
}

.summoner1 {
  right: 18.5rem;
}

.items img {
  width: 1.7rem;
  height: 1.7rem;
}

.num-stat {
  position: absolute;
  font-weight: 500;
  font-size: 0.8rem;
}

.dmg-dealt {
  top: 0.2rem;
  left: 11rem;
}

.dmg-taken {
  top: 1.2rem;
  left: 10rem;
}

.gold {
  top: 2.2rem;
  left: 9rem;
}

.vision {
  top: 3.2rem;
  left: 8rem;
}

.queue-type {
  position: absolute;
  font-weight: 500;
  left: 13rem;
  top: 3.4rem;
  height: 20px;
  width: 100px;
  background-color: white;
  border: black solid 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.match-end {
  position: absolute;
  font-weight: 500;
  font-size: 0.8rem;
  left: 19.7rem;
  top: 3.4rem;
  height: 20px;
  width: 85px;
  background-color: white;
  border: black solid 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.part-box {
  position: absolute;
  display: flex;
  border: solid black 2px;
  width: 10rem;
  height: 4rem;
  top: 0.4rem;
  right: 0.4rem;
  border-radius: 0.4rem;
}

.team1 {
  overflow: hidden;
  width: 5rem;
  height: 4rem;
  font-size: 9px;
}

.team1 ul li,
.team2 ul li {
  white-space: nowrap;
}
.team2 {
  overflow: hidden;
  width: 5rem;
  height: 4rem;
  font-size: 9px;
}

@media screen and (max-width: 946px) {
  #main {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #matches {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 564px) {
  #matches {
    transform: scale(0.65);
  }
}
